.green-btn{
    background: #4CAF4F;
    color: #FFF;
    font-weight: 400;
}
.green-btn:hover, .green-btn:focus{
    background: #38853B;
    color: #FFF;
}

.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #18191F;
}

#login{
    color: #4CAF4F;
}

#sign-up, #login{
    font-weight: 500;
    font-size: 14px;
}

.achievements, .customers, .get-demo{
    background-color: #F5F7FA;
}

.get-demo button{
    margin: 32px 0;
    padding: 14px 32px;
}

.mobile button{
    font-weight: 500;
    font-size: 16px;
}

.big-number h4{
    margin: 0;
}

.clients{
    padding: 40px 0;
}

h2{
    color: #4D4D4D;
    font-weight: 600;
    font-size: 36px;
}

p{
    color: #717171;
    font-weight: 400;
    font-size: 16px;
}

.clients .justify-content-between{
    margin: 16px 144px 0 144px;
}

.community img{
    margin: 40px 0 16px;
}

.achievements{
    padding: 64px;
}

.achievements p{
    color: #18191F;
}

.achievements .container-fluid h4{
    font-weight: 700;
    font-size: 28px;
    color: #4D4D4D;
}

.achievements .container-fluid p{
    color: #717171;
    font-weight: 400;
    font-size: 16px;
}

.achievements span, h4{
    font-weight: 600;
    font-size: 36px;
}

.achievements span{
    color: #4CAF4F;
}

.mobile h4, .mobile button, .mobile p{
    margin-left: 50px;
}

.customers a{
    color: #4CAF4F;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.customers h5{
    color: #4CAF4F;
}

.customers .link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketing{
    padding: 48px;
}

.marketing a{
    color: #4CAF4F;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.marketing .row p{
    font-weight: 600;
    font-size: 20px;
    color: #717171;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 25px;
    width: 317px;
    height: 176px;
    border-radius: 8px;
    transform: translateY(-55%);
    background: #F5F7FA;
}

.get-demo{
    padding: 32px;
}

.get-demo h3{
    font-weight: 600;
    font-size: 64px;
}

footer{
    background-color: #263238;
    padding: 64px 0;
}

footer h5{
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
}

footer a, footer p{
    text-decoration: none;
    color: #F5F7FA;
    font-size: 14px;
    font-weight: 400;
}

footer p{
    margin: 40px 0;
}

footer button{
    background-color: transparent;
    border: none;
}

footer input{
    background-color: #515B60;
    border: none;
    border-radius: 8px;
    width: 255px;
    height: 40px;
    padding: 0 0 0 12px;
}

footer input:focus{
    outline: none;
}

footer button{
    transform: translateX(-100%);
    background-color: #515B60;
    border-radius: 8px;
}

footer img{
    margin: 0 16px 0 0;
}

footer .col-md-2 a{
    margin: 12px 0 0 0;
}

footer .col-md-2 h5{
    margin-bottom: 12px;
}

footer .col-md-3 h5{
    margin-bottom: 24px;
}